<div class="col-md-12">
  <card cardTitle="All Teachers">
    <form class="form-group">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>BirthDate</th>
            <th>Specialty</th>
            <th>Email</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          <!--  [routerLink]="['/showclassesbyid',t.id]"   |   [routerLink]="['/editteacher',t.id]"   |   (click)="deleteteacher(t.id)"-->
          <tr *ngFor="let t of teacher">
            <td>{{ t.firstname }}</td>
            <td>{{ t.lastname }}</td>
            <td>{{ t.birthDate }}</td>
            <td>{{ t.specialty }}</td>
            <td>{{ t.email }}</td>
            <td>
              <button class="btn btn-primary">Show classes</button>
              <button [routerLink]="['../editTeacher', t.id]"class="btn btn-success">Edit</button>
              <button (click)="deleteTeacher(t.id)" class="btn btn-danger">Delete</button>
            </td>


        </tbody>
      </table>
    </form>
  </card>
</div>
