<div class="col-md-12">
  <card cardTitle="Enter Subjects Score">
    <form (submit)="changescore()" class="form-group">
      <label class="control-label">Firstname of the student</label>
      <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" placeholder="Firstname">
      <br>

      <label class="control-label">Lastname of the student</label>
      <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" placeholder="Lastname">
      <br>

      <label class="control-label">Subject</label>
      <select [(ngModel)]="subject" name="select" id="select1" class="form-control">
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
        <option value="option4">option4</option>
      </select>
      <br>

      <label class="control-label">Score</label>
      <input type="number" [(ngModel)]="score" name="score" min="0" max="20" class="form-control" placeholder="0">
      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </card>
</div>
