<div class="row">
  <card cardTitle="Enter Grades">
    <form (submit)="changescore()" class="form-group">

      <label class="control-label">Class</label>
      <select id="select1" (change)="get_students($event.target.value)" class="form-control" ngModel name="studentClass">
          <option value="-1" >-------------</option> 
        <option value="{{class.id}}" *ngFor="let class of classes">name: {{ class.name }}  |  level: {{ class.level }}  |  grade: {{ class.grade }}</option>
       </select>

      <br>

      <label class="control-label">Student</label>
      <select id="select2" (change)="fill_student($event.target.value)" class="form-control" ngModel name="student">
          <option value="-1" >-------------</option> 
        <option value="{{stu.id}}" *ngFor="let stu of students">{{ stu.firstname }} {{ stu.lastname }}</option>
       </select>

      <br>

      <label class="control-label">Score</label>
      <input type="number" [(ngModel)]="score" name="score" min="0" max="20" class="form-control" placeholder="0">
      <br>

      <button type="button" (click)="add_mark()" class="btn btn-primary">Submit</button>
    </form>
  </card>
</div>

<div class="alert alert-success" style="height: 10%" *ngIf="statutAlert">
  <strong>GRADE HAS BEEN ADDED !</strong>
</div>
<div class="alert alert-danger" style="height: 10%" *ngIf="statutAlert == false">
  <strong>ERROR WHILE ADDING GRADE!</strong>
</div>
