

<card class="col-md-6" cardTitle="Profile infos">
  <div class="form-inline">
  </div>
  <div class="form-inline">
    <label class="control-label">Last Name : </label>
    <input type="text" class="form-control"  name="lastName" [(ngModel)]="lastName" disabled>
  </div>
  <div class="form-inline">
    <label class="control-label">First Name : </label>
    <input type="text" class="form-control"  name="firstName" [(ngModel)]="firstName" disabled>
  </div>
  <div class="form-inline">
    <label class="control-label">Class : </label>
    <input type="text" class="form-control"  name="class" [(ngModel)]="className" disabled>
  </div>
  <div class="form-inline">
    <label class="control-label">Email : </label>
    <input type="email" class="form-control"  name="email" [(ngModel)]="email" disabled>
  </div>
  <div class="form-inline">
    <label class="control-label">Birthdate : </label>
    <input type="text" class="form-control"  name="date" [(ngModel)]="bDate" disabled>
  </div>
</card>
