<div class="row">
  <div class="col-md-8">

    <!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
    <card cardTitle="Update Password" isCollapse="true">
        
      <form (submit)="update()" class="form-group">
        <label class="control-label">Old Password</label>
        <input [(ngModel)]="oldpwd" name="oldpwd" type="text" class="form-control" placeholder="Old Password">
        <label class="control-label">New Password</label>
        <input [(ngModel)]="newpwd" name="newpwd" type="text" class="form-control" placeholder="New Password">
        <label class="control-label">Confirm New Password</label>
        <input [(ngModel)]="confirmpwd" name="confirmpwd" type="text" class="form-control" placeholder="Confirm New Password">
        <br>
        <button type="submit" class="btn btn-success btn-with-icon">
          <i class="fa fa-check fa-fw"></i>Save Changes</button>
      </form>
    </card>
    
  </div>
</div>
