<card cardTitle="Timetable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of myTable; let i = index;">
        <td>{{schedules[i]}}</td>
        <td *ngFor="let course of day">
          <span [innerHTML]="course"></span>
        </td>
      </tr>
    </tbody>
  </table>
</card>