<div class="row">

  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Planning</h3>
      </div>
      <button class="tip-ico tip-ico-info" routerLink="/headmaster/viewPlanning">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>

  <div class="col-md-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Create course</h3>
        <span></span>
      </div>
      <button class="tip-ico tip-ico-info" routerLink="/headmaster/timetable-edit">
        <i class="fa fa-sticky-note-o"></i>
      </button>
    </div>
  </div>

  <div class="col-md-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Courses Requests </h3>
        <span></span>
      </div>
      <button class="tip-ico tip-ico-info" routerLink="/headmaster/requestModifyPlanning">
        <i class="fa fa-bell"></i>
      </button>
    </div>
  </div>

</div>

<!--kendo-calendar></kendo-calendar!-->
