<div class="row">

  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Messages</h3>
        <span>(2)</span>
      </div>
      <button class="tip-ico tip-ico-info" routerLink="/headmaster/message">
        <i class="fa fa-comments fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Notes</h3>
        <span></span>
      </div>
      <button class="tip-ico tip-ico-info" routerLink="/headmaster/enterNotes">
        <i class="fa fa-file-text"></i>
      </button>
    </div>
  </div>


  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Calendar</h3>
        <span></span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>

</div>

<!--kendo-calendar></kendo-calendar!-->
