<form #f = "ngForm" class="form-group">
<div class="col-md-12">
  <card cardTitle="Add Class">
    <!--form class="form-group"!-->
      <label class="control-label">Class name</label>
      <input type="text" class="form-control" placeholder="Enter a name for the class" ngModel name="className">
      <br>

      <label class="control-label">Year</label>
      <select name="select" id="select1" class="form-control" ngModel name="year">
        <option value="option1">1999</option>
        <option value="option2">2000</option>
        <option value="option3">2001</option>
        <option value="option4">2002</option>
        <option value="option4">2003</option>
        <option value="option4">2004</option>
        <option value="option4">2005</option>
        <option value="option4">2006</option>
        <option value="option4">2007</option>
        <option value="option4">2008</option>
        <option value="option4">2009</option>
        <option value="option4">2010</option>
        <option value="option4">2011</option>
        <option value="option4">2012</option>
        <option value="option4">2013</option>
        <option value="option4">2014</option>
        <option value="option4">2015</option>
        <option value="option4">2016</option>
        <option value="option4">2017</option>
        <option value="option4">2018</option>
        <option value="option4">2019</option>
        <option value="option4">2020</option>
        <option value="option4">2021</option>
      </select>
      <br>

      <label class="control-label">Class level</label>
      <select name="select" id="select2" class="form-control" ngModel name="classLevel">
        <option value="option1">ELEMENTARY</option>
        <option value="option2">MIDDLE</option>
        <option value="option3">HIGH</option>
      </select>
      <br>


      <label class="control-label">Grade</label>
      <select name="select" id="select2" class="form-control" ngModel name="classGrade">
        <option value="option1">1st</option>
        <option value="option2">2nd</option>
        <option value="option3">3th</option>
        <option value="option3">4th</option>
        <option value="option3">5th</option>
        <option value="option3">6th</option>
        <option value="option3">7th</option>
        <option value="option3">8th</option>
        <option value="option3">9th</option>
        <option value="option3">10th</option>
        <option value="option3">11th</option>
        <option value="option3">12th</option>
      </select>
      <br>

      <button type="submit" class="btn btn-primary" (click)="addClass(f.value)">Add</button>
    <!--/form!-->
  </card>
</div>
</form>
