<div class="col-md-12">
  <card cardTitle="All Classrooms">
    <form class="form-group">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Floor Number</th>
            <th>Capacity</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let cr of classrooms">
            <td>{{ cr.roomNumber }}</td>
            <td>{{ cr.floorNumber }}</td>
            <td>{{ cr.capacity }}</td>
        </tbody>
      </table>
    </form>
  </card>
</div>
