<div class="row">
<form #f="ngForm">
  <div class="col-md-12">
    <card cardTitle="Add Staff">
      <div class="form-group">
        <label class="control-label">Last Name</label>
        <input type="text" class="form-control" ngModel name="lastname">
        <label class="control-label">First Name</label>
        <input type="text" class="form-control" ngModel name="firstname">
        <label class="control-label">Salary</label>
        <input type="text" class="form-control" ngModel name="salary" >

        <label class="control-label">Role</label>
        <select name="select" id="select1" class="form-control" ngModel name="role">
          <option value="CLEANER">CLEANER</option>
          <option value="COOK">COOK</option>
          <option value="LIBRARIAN">LIBRARIAN</option>
          <option value="SECRETARY">SECRETARY</option>
          <option value="MANAGER">MANAGER</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" (click)="addStaff(f.value)">Add</button>
      </div>
    </card>
  </div>
</form>
</div>

<div class="alert alert-danger" style="height: 10%" *ngIf="statutAlert == false">
  <strong>ERROR WHILE ADDING STAFF!</strong>
</div>

