<!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
<!--card cardTitle="Input Types" isCollapse="true"!-->
<div class="col-md-12">
  <!--card cardTitle=""!-->
  <div class="form-group">
    <label class="control-label">Nom</label>
    <input type="text" class="form-control" placeholder="">
    <label class="control-label">Prenom</label>
    <input type="text" class="form-control" placeholder="">
    <label class="control-label">Email</label>
    <input type="email" class="form-control" placeholder="">
    <label class="control-label">Mot de passe</label>
    <input type="password" class="form-control" placeholder="" >

    <label class="control-label">Classe</label>
    <select name="select" id="select1" class="form-control">
      <option value="option1">option1</option>
      <option value="option2">option2</option>
      <option value="option3">option3</option>
      <option value="option4">option4</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>
<!--/card!-->
</div>
