<!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
<!--card cardTitle="Input Types" isCollapse="true"!-->
  <div class="form-group">
    <label class="control-label">Text</label>
    <input type="text" class="form-control" placeholder="Text Input">
    <label class="control-label">Password</label>
    <input type="password" class="form-control" placeholder="Password Input">
    <label class="control-label">With Help</label>
    <input type="text" class="form-control" placeholder="With Help">
    <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
    <label class="control-label">Small Input</label>
    <input type="text" class="form-control form-control-sm" placeholder="Small Input">
    <label class="control-label">Large Input</label>
    <input type="text" class="form-control form-control-lg" placeholder="Large Input">
    <label class="control-label">Disabled</label>
    <input type="text" class="form-control" placeholder="Disabled Input" disabled>
    <label class="control-label">Readonly</label>
    <input type="text" class="form-control" placeholder="Readonly Input" readonly>
    <label class="control-label">Textarea</label>
    <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
  </div>
<!--/card!-->
