<div class="alert alert-success" style="height: 10%" *ngIf="statutAlert">
  <strong>MESSAGE SENT !</strong>
</div>
<div class="alert alert-danger" style="height: 10%" *ngIf="statutAlert == false">
  <strong>ERROR WHILE SENDING MESSAGE!</strong>
</div>
<div class="row">
  <div class="col-md-6">
    <card cardTitle="Send message">
      <form (submit)="send()" class="form-group">
        <label class="control-label">To</label>

        <select id="select1" name="reci" class="form-control" [(ngModel)]="recipient" name="studentClass">
            <option value="-1" >-------------</option> 
          <option value="{{email}}" *ngFor="let email of emails">{{ email }}</option>
          
         </select>        <br><br>
        <label class="control-label">Object</label>
        <input name="object" [(ngModel)]="object" type="text" class="form-control" placeholder="Object">
        <br><br>
        <label class="control-label">Message</label>
        <textarea name="msg" [(ngModel)]="msg" class="form-control" placeholder="Enter here the message"></textarea>
        <br><br>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="Inbox">
      <form class="form-group">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Object</th>
            <th>Body</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let msg of messages">
              <td>{{msg.dateAndTime}}</td>
            <td>{{msg.sender.email}}</td>
            <td>{{msg.object}}</td> 
            <td><button type="button" (click)="show(msg.msg)" class="btn btn-xs btn-info">SHOW</button></td>
          </tr>
          </tbody>
        </table>
        <br><br>
        <label class="control-label">Message</label>
        <textarea class="form-control" placeholder="" disabled> {{contenu}}</textarea>
        <br><br>
        <!-- <button type="submit" class="btn btn-primary">Send</button>-->
      </form>
    </card>
  </div>
</div>
