
<div class="row">
    <form #f="ngForm" class="form-group">
      <card cardTitle="Add Teacher">
      <label class="control-label">Last Name</label>
      <input type="text" class="form-control" ngModel name="lastname">
      <label class="control-label">First Name</label>
      <input type="text" class="form-control" ngModel name="firstname">
      <label class="control-label">Email</label>
      <input type="email" class="form-control" ngModel name="email">
      <label class="control-label">Password</label>
      <input type="password" class="form-control" ngModel name="password">
      <label class="control-label">BirthDate</label>
      <input type="text" class="form-control" ngModel name="birthDate">
      <label class="control-label">Specialty</label>
      <select name="select" id="select1" class="form-control" ngModel name="specialty">
        <option value="MATHEMATICS">MATHEMATICS</option>
        <option value="SCIENCE">SCIENCE</option>
        <option value="PHYSICS">PHYSICS</option>
        <option value="CHEMISTRY">CHEMISTRY</option>
        <option value="GEOGRAPHY">GEOGRAPHY</option>
        <option value="HISTORY">HISTORY</option>
        <option value="FRENCH">FRENCH</option>
        <option value="ENGLISH">ENGLISH</option>
      </select>
      <br>
      <button type="submit" class="btn btn-primary" (click)="addTeacher(f.value)">Add</button>
      </card>
    </form>
</div>
<div class="alert alert-danger" style="height: 10%" *ngIf="statutAlert == false">
  <strong>ERROR WHILE ADDING TEACHER!</strong>
</div>
