<div class="row">
  <div class="col-md-6">
    <card cardTitle="Send message">
      <form class="form-group" (submit)="send()">
        <label class="control-label">Receiver's Email</label>
        <input name="email" [(ngModel)]="email" type="email" class="form-control" placeholder="example@example.com">
        <br><br>
        <label class="control-label">Object</label>
        <input name="object" [(ngModel)]="object" type="text" class="form-control" placeholder="Object">
        <br><br>
        <label class="control-label">Message</label>
        <textarea name="msg" [(ngModel)]="msg" class="form-control" placeholder="Enter here the message"></textarea>
        <br><br>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="Your messages">
      <form class="form-group">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Sender</th>
              <th>Object</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of default_data;let index = index">
              <td>{{index}}</td>
              <td>{{item.sender}}</td>
              <td>{{item.object}}</td>
              <td><button class="btn btn-xs btn-info">SHOW</button></td>
            </tr>
          </tbody>
        </table>
        <br><br>
        <label class="control-label">Message</label>
        <textarea class="form-control" placeholder="" disabled></textarea>
        <br><br>
       <!-- <button type="submit" class="btn btn-primary">Send</button>-->
      </form>
    </card>
  </div>
</div>
