<div class="col-md-12">
  <card cardTitle="All Staffs">
    <form class="form-group">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Salary</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of staff">
            <td>{{ s.firstname }}</td>
            <td>{{ s.lastname }}</td>
            <td>{{ s.role }}</td>
            <td>{{ s.salary }}</td>
            <td>
                <button [routerLink]="['/editStaff',s]" class="btn btn-success">Edit</button>
                <button (click)="deleteStaff(s.id)" class="btn btn-danger">Delete</button>
            </td>
  
          </tr>
        </tbody>
      </table>
    </form>
  </card>
</div>
