<div class="row">
  <div class="col-md-8">

    <!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
    <card cardTitle="Update Password" isCollapse="true">
      <div class="form-group">
        <label class="control-label">Old Password</label>
        <input type="text" class="form-control" placeholder="Old Password">
        <label class="control-label">New Password</label>
        <input type="text" class="form-control" placeholder="New Password">
        <label class="control-label">Confirm New Password</label>
        <input type="text" class="form-control" placeholder="Confirm New Password">
        <br>
        <button type="button" class="btn btn-success btn-with-icon">
          <i class="fa fa-check fa-fw"></i>Save Changes</button>
      </div>
    </card>
    
  </div>
</div>
