<div class="row">
  <div class="col-md-8">

    <!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
    <card cardTitle="Update Password" isCollapse="true">
      <form (submit)="update()"> 
      <div class="form-group">
        <label class="control-label">Old Password</label>
        <input name="old" [(ngModel)]="old" type="text" class="form-control" placeholder="Old Password">
        <label class="control-label">New Password</label>
        <input name="new" [(ngModel)]="new" type="text" class="form-control" placeholder="New Password">
        <label class="control-label">Confirm New Password</label>
        <input name="conf_new" [(ngModel)]="conf_new" type="text" class="form-control" placeholder="Confirm New Password">
        <br>
        <button type="submit" class="btn btn-success btn-with-icon">Save Changes</button>
      </div>
    </form> 
    </card>
    
  </div>
</div>
