<div class="row">
  <div class="col-md-8">

    <!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
    <card cardTitle="Update Password" isCollapse="true">
        <div class="row">
        <div class="form-group">
          <label class="control-label">Old password</label>
          <input type="password" class="form-control" name="old" [(ngModel)]="old_p">
    
          <label class="control-label">New password</label>
          <input type="password" class="form-control" name="new" [(ngModel)]="new_p">
    
          <label class="control-label">Confirm password</label>
          <input type="password" class="form-control"  name="confirm" [(ngModel)]="confirm">
          <BR>
          <button type="button" (click)="change_password()" class="btn btn-primary">Save change</button>
        </div>
      </div>
      <div class="alert alert-danger" style="height: 10%" *ngIf="statutAlert == false">
          <strong>ERROR WHILE CHANGING PASSWORD !</strong>
        </div>
    </card>
    
  </div>
</div>
