<div class="row">
    <!--div class="col-md-2">
        <label class="control-label">Class</label>
    </div!-->
  <div class="col-md-7">
     <select id="select1" (change)="show_edt($event.target.value)" class="form-control" ngModel name="studentClass">
        <option value="-1" >-------------</option> 
      <option value="{{class.id}}" *ngFor="let class of classes">name: {{ class.name }}  |  level: {{ class.level }}  |  grade: {{ class.grade }}</option>
     </select>
  </div>
</div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let day of myTable; let i = index;">
      <td>{{schedules[i]}}</td>
      <td *ngFor="let course of day">
        <span [innerHTML]="course"></span>
      </td>
    </tr>
  </tbody>
</table>