<table class="table table-bordered">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Classe</th>
      <th>Email</th>
  
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Bouya</td>
      <td>Fadwa</td>
      <td></td>
      <td></td>
  
  
    </tr>
    <tr>
      <td>Cheikh</td>
      <td>Anas Ait</td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td>Doumbia</td>
      <td>Doussou</td>
      <td></td>
      <td></td>
  
  
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
  
    </tbody>
  </table>
  