<!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
<!--card cardTitle="Input Types" isCollapse="true"!-->
<div class="col-md-12">
  <!--card cardTitle=""!-->
  <div class="form-group">
    <label class="control-label">Poste</label>
    <input type="text" class="form-control" value="Directeur" >
    <label class="control-label">Nom</label>
    <input type="text" class="form-control" value="Doumbia">
    <label class="control-label">Prenom</label>
    <input type="text" class="form-control" value="Doussou">
    <label class="control-label">Email</label>
    <input type="email" class="form-control" value="doussou.doumbia@etu.u-pec.fr">
    <label class="control-label">Mot de passe</label>
    <input type="password" class="form-control" value="upecupec" >

    <button type="submit" class="btn btn-primary">Modifier</button>
  </div>
  <!--/card!-->
</div>
