<!--card>
  Email Teacher : anas@upec.fr <br>
  Change : Lundi 10h - 12h <br>
  <button class="btn-success">Accept</button> <button class="btn-danger">Refuse</button>
</card>

<card>
  Email Teacher : anas@upec.fr <br>
  Change : Lundi 10h - 12h <br>
  <button class="btn-success">Accept</button> <button class="btn-danger">Refuse</button>

</card!-->

<div class="" name="course" *ngFor="let course of courses">
  <card >
   Teacher :  Name : {{course.teacher.firstname}} {{course.teacher.firstname}} | Email: {{course.teacher.email}}<br>
    Class :  Name: {{course.class.name}} | Grade: {{course.class.grade}} | Level: {{course.class.level}} <br>
    Classroom: Capacity: {{course.classroom.capacity}} | Room: {{course.classroom.roomNumber}}<br>
    Subject: {{course.subject.name}}<br>
    Date: {{course.date}}<br>
    Time: {{course.time}} <br>
    <button class="btn-success" (click)="acceptCourse(course.id)">Accept</button> <button class="btn-danger" (click)="refuseCourse(course.id)">Refuse</button>
  </card>

</div>
