<div class="row">
  <card cardTitle="Create course">
    <form class="form-group" #f = "ngForm">
      <label class="control-label">Date</label>
      <input type="text" class="form-control" ngModel name="date">
      <label class="control-label">Time</label>
      <select name="select" id="selectTime" class="form-control" ngModel name="time">
        <option value="{{time}}" *ngFor="let time of times">{{time}}</option>
      </select>
      <label class="control-label">Teacher</label>
      <select name="select" id="selectTeacher" class="form-control" ngModel name="teacher">
        <option value="{{teacher.id}}" *ngFor="let teacher of teachers">{{teacher.firstname}}  {{teacher.lastname}}</option>
      </select>
      <br>

      <label class="control-label">Classroom</label>
      <select name="select" id="selectClassroom" class="form-control" ngModel name="classroom">
        <option value="{{classroom.id}}" *ngFor="let classroom of classrooms">Capacity : {{classroom.capacity}} | floor number{{classroom.floorNumber}} | room number{{classroom.roomNumber}}</option>
      </select>
      <br>


      <label class="control-label">Class</label>
      <select name="select" id="selectClass" class="form-control" ngModel name="classe">
        <option value="{{class.id}}" *ngFor="let class of classes">name: {{ class.name }}  |  level: {{ class.level }}  |  grade: {{ class.grade }}</option>
      </select>
      <br>

      <label class="control-label">Subject</label>
      <select name="select" id="selectSubject" class="form-control" ngModel name="subject">
        <option value="{{subject.id}}" *ngFor="let subject of subjects">{{subject.name}}</option>
      </select>
      <br>

      <br><br>
      <div class="col-md-2">
        <button  class="btn btn-lg btn-success" (click)="createTimeTable(f.value)">Create</button>
      </div>
      <div class="col-md-5">
        <button class="btn btn-lg btn-primary" (click)="modifyTimeTable(f.value)">Modify</button>
      </div>
    </form>
  </card>
</div>

<div class="alert alert-success" style="height: 10%" *ngIf="statutAlert">
  <strong>COURSE HAS BEEN ADDED !</strong>
</div>
<div class="alert alert-danger" style="height: 10%" *ngIf="statutAlert == false">
  <strong>ERROR WHILE ADDING COURSE!</strong>
</div>
